extends base
block content
  h2 ALL BOOKINGS
  if(bookings.length!=0)
    .signup-parent
      table
        tr
          th Plan
          th User ID
          th Booking ID
          th Time of Delivery
          th Delivery Address
          th Expires in
        for booking in bookings
          tr
            td #{booking.plan}
            td #{booking.user}
            td #{booking.id}
            td #{booking.timeOfDel.getHours()}:#{booking.timeOfDel.getMinutes()}
            td #{booking.delAddress}
            td #{booking.expires}
  else
    h3 Sorry no resuls found !