extends base
block content
  h2 ALL BOOKINGS
  if(bookings.length!=0)
    .signup-parent
      table
        tr
          th Plan ID
          th User ID
          th Booking ID
          th Time of Delivery
          th Delivery Address
          th Expires in
        for booking in bookings
          tr
            td #{booking.populate("plan").name}
            td #{booking.populate("user").name}
            td #{booking.id}
            td #{String(booking.timeOfDel.getHours()).padStart(2,0)}:#{String(booking.timeOfDel.getMinutes()).padStart(2,0)}
            td #{booking.delAddress}
            td #{booking.expires.toDateString()}
  else
    h3 Sorry no resuls found !