extend base
block content
  h2 CONFIRM ORDER 
  form.beforePayment
    .entry
      .entry-text Delivery Address
      input(type='text', name='address', placehlder=`Enter Address Here`, required)
    .entry
      .entry-text Choose Delivery Time
      select(name='time', value='12:00:00')
        option(value='09:00:00') 9:00 AM
        option(value='09:30:00') 9:30 AM
        option(value='10:00:00') 10:00 AM
        option(value='10:30:00') 10:30 AM
        option(value='11:00:00') 11:00 AM
        option(value='11:30:00') 11:30 AM
        option(value='12:00:00') 12:00 Noon
        option(value='12:30:00') 12:30 PM
        option(value='13:00:00') 1:00 PM
        option(value='13:30:00') 1:30 PM
        option(value='14:00:00') 2:00 PM
        option(value='14:30:00') 2:30 PM
        option(value='15:00:00') 3:00 PM
        option(value='15:30:00') 3:30 PM
        option(value='16:00:00') 4:00 PM
        option(value='16:30:00') 4:30 PM
        option(value='17:00:00') 5:00 PM
        option(value='17:30:00') 5:30 PM
        option(value='18:00:00') 6:00 PM
        option(value='18:30:00') 6:30 PM
        option(value='19:00:00') 7:00 PM
        option(value='19:30:00') 7:30 PM
        option(value='20:00:00') 8:00 PM
        option(value='20:30:00') 8:30 PM
  .signup-child.payconf
    .signup-header
      h3 #{plan.name}
      .signup-pricing
        span.pricing ₹#{plan.price-plan.discount}
        | /month
        p That’s only ₹#{((plan.price-plan.discount)/30).toFixed(2)}  per meal
    .signup-features
      ul
        li
          i.fas.fa-check.small-icon  
          | #{plan.description}
        li
          i.fas.fa-check.small-icon  
          | #{plan.ratingsAverage}/10 ratings
        li
          i.fas.fa-check.small-icon  
          | Access to newest creations
        li
          i.fas.fa-check.small-icon  
          | Free delivery
      .signup-button
          a.btn.btn-full(href=`javascript:;`, plan-id=`${plan["_id"]}`).payment Proceed to Pay