extends base
block content
  h2 MY BOOKINGS
  if(bookings.length!=0)
    .signup-parent
      table.bookings
        tr
          th Plan
          th Booking ID
          th Time of Delivery
          th Delivery Address
          th Expires on
          th Status
        for booking in bookings
          tr
            td #{booking.plan.name}
            td #{booking.id}
            td #{String(booking.timeOfDel.getHours()).padStart(2,0)}:#{String(booking.timeOfDel.getMinutes()).padStart(2,0)}
            td #{booking.delAddress}
            td #{booking.expires.toDateString()}
            td(id=`b${booking.status}`) #{booking.status}
  else
    h3 Sorry no resuls found !