.signup-child
        .signup-header
          h3 
            |#{plan.name}
            .delicon(,uid=`${plan.id}`,type='plan')
              i.fa.fa-trash(aria-hidden='true',id='dicon')
          .signup-pricing
            strike ₹#{plan.price}
            span.pricing ₹#{plan.netprice}
            | /month
            p That’s only ₹#{(plan.netprice/30).toFixed(2)}  per meal
        .signup-features
          ul
            li
              i.fas.fa-check.small-icon  
              | #{plan.description}
            li
              i.fas.fa-check.small-icon  
              | #{plan.ratingsAverage}/10 ratings
            li
              i.fas.fa-check.small-icon  
              | Access to newest creations
            li
              i.fas.fa-check.small-icon  
              | Free delivery
          .signup-button
            a.btn.btn-full(href=`/updatePlan/${plan.id}`) Update
