.signup-child
        .signup-header
          h3
            | #{user.name}
            .delicon(,uid=`${user.id}`,type='user')
              i.fa.fa-trash(aria-hidden='true',id='dicon')
        .signup-features
          ul
            li
              .imgdiv
                img(src=`${user.profileImage}`, alt="Profile image", class="profileimg")
            li
              | Role:#{user.role}
            li
              | E-mail:#{user.email}
          .signup-button
            a.btn.btn-full(href=`/updateUser/${user.id}`) Update
